*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  height: 100%;
  font-size: 12px;
  font-family: 'Noto Sans', 'leteal', sans-serif;
  background-color: gainsboro;
}

a{
  text-decoration: none;
  color: black;
}

.hidden{
  visibility: hidden !important;
}

.pointer{
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.pointer:hover,
.pointer:focus,
.pointer:active{
  outline: none;
}

.wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1a2235;
  overflow: hidden;
}

.wrapper_inner{
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  min-width: 768px;
  max-width: 968px;
  max-height: 80%;
  background-color: floralwhite;
  border: 2px solid floralwhite;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  display: grid;
  grid-template-rows: 1fr 2fr 3fr 15fr 4fr;
}

@media (max-width: 768px){
  .wrapper{
    display: block;
  }

  .wrapper_inner{
    padding: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    /* height: 100vh; */
    background-color: white;
    border: none;
    box-shadow: none;
    border-radius: none;
    /* display: grid; */
    /* grid-template-rows: 10vh 5vh 5vh 70vh 10vh; */
  }
}

.user-signin{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

@media (max-width:768px){
  .user-signin{
    min-width: 100%;
    max-width: 100%;
  }
}

@media (max-width:500px){
  .user-signin{
    justify-content: space-between;
  }
}

.user-signin_input{
  padding: 5px;
  font-size: 1.25em;
  font-weight: bolder;
  background-color: gainsboro;
  border: none !important;
  outline: none !important;
  /* border-bottom: 1px solid grey; */
  text-align: center;
}

/* .user-signin_input:hover,
.user-signin_input:focus,
.user-signin_input:active{
  border-bottom: 1px solid black;
} */


.user-signin_btn{
  padding: 5px 10px;
  font-size: 1em;
  color: floralwhite;
  background-color: #1a2235;
  border: none;
}

.user-signin_btn:after{
  content: "\27B2";
  padding-left: 5px;
}




.active-users{
  position: relative;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.user{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_icon,
.user_name{
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_icon{
  max-width: 32px;
  max-height: 32px;
}

.user_name{
  font-weight: bolder;
}

.user-input{
  position: relative;
}

.user-input_textarea{
  height: 100%;
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1.25em;
  font-weight: bolder;
  background-color: gainsboro;
}

.user-input_textarea:hover,
.user-input_textarea:focus,
.user-input_textarea:active{
  outline: none;
}

/* .user-submit{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.user-submit_btn{
  font-size: 1.25em;
}

.user-submit_btn:before{
  content: "Send \27A4";
} */

.users-output{
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    /* max-height: 70vh; */
    overflow-y: scroll;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.users-message{
  clear: both;
  float: left;
  padding: 5px;
  margin-bottom: 5px;
  width: auto;
  max-width:60%;
  background-color: gainsboro;
  color: black;
  border-radius: 5px 5px 5px 0px;

}

.user-message{
  clear: both;
  float: right;
  padding: 5px;
  margin-bottom: 5px;
  max-width: 70%;
  align-self: flex-end;
  background-color: green;
  color: white;
  border-radius: 5px 5px 0px 5px;
}

.users-message_from,
.user-message_from{
  font-weight: bolder;
  text-decoration: underline;
}

.users-message_text,
.user-message_text{
  padding-top: 5px;
}


.header{
  padding: 5px;
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}


.header-link,
.header_ctrls_refresh,
.header_ctrls_signout{
  padding: 0 10px;
  font-weight: bolder;
}

.header_ctrls_refresh{
  font-size: 1.75em;
}

.header_ctrls_signout{
  font-size: 1.35em;
}

